# Visual Studio
.vs/
bin/
obj/

# Node
node_modules/

# Logs
*.log

# Environment
.env

# Angular
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Visual Studio Project Folders
backend/.vs
frontend/.vs

# ASP.NET Core Secrets
appsettings.Development.json
backend/backend/appsettings.Development.json

# Optional Production Secrets
appsettings.Local.json
backend/backend/appsettings.Local.json